body {
	font-family: "Lato", sans-serif;
}

.app-wrapper {
	display: flex;
	justify-content: center;
}

a {
	color: $color-grey-one;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
