.home {
	height: 100vh;
	width: 66vw;
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	justify-items: stretch;
	align-content: space-around;
}

.logo-wrapper-main,
.recent-posts {
	display: grid;
	justify-items: center;
}
